google-auth
python-jose
sqlalchemy
python-multipart
xlrd
fastapi
uvicorn
requests
pydantic[email]
python-dotenv
langchain
langchain-openai
langchain-qdrant
chromadb
openai
psycopg2-binary
pytest
xlutils
passlib[bcrypt]
pwdlib[argon2]
